# Este es lo un archivo que contiene lo nombre de los archivos que se van a ignorar para cualquier cambio en el proyecto.

Alumno.class
Main.class
Menu.class
Ordenamientos.class
RadixSort.class
Util.class
